body {
    background-image: url(../images/img.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.blur {
    backdrop-filter: blur(10px);
}

.form-control:focus{
    box-shadow: none;
    border-color: none;
    background-color: none;
}


.login:hover, .signup:hover{
    color: white !important;
text-decoration: underline !important;
transition: all 0.5s;
}

label#custom-label::after {
    background-color: transparent !important;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
  
